# Directories #
/build/
/credentials/
/bin/



# Files #
*.class
eventlogs.txt
local.xml
localJUnitTest.xml
config.properties
local - Copy.xml


# Windows #
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 


# OSX #
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
ChirpTask.jar

ChirpTask v0.2.jar

local copy.xml

*.jar
