/**
 *
 * @author Yeo Quan Yang
 * @MatricNo A0111889W
 * 
 */
.root{
    -fx-font-family: "Lucida Grande";
    -fx-font-size:11.0px;
}

.header-title {
    -fx-font-size:20.0px;
}

.status-bar, .header-bar {
    -fx-background-color: rgb(241.0,241.0,241.0);
}

.status-message {
	
}

.error-message {
	-fx-text-fill:red;
}

.clear-button {
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-padding:3;
	-fx-border-color: -fx-text-box-border;
    -fx-border-width: 1.0 1.0 1.0 0.0;
    -fx-focus-color: transparent;
}
.clear-button:hover {
	-fx-cursor:hand;
}

.text-field {
    -fx-background-radius: 0.0;    
}

.text-field:focused {
    -fx-background-color:-fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-radius: 0.0;
    -fx-background-insets: -1.4, 0.0, 1.0;
}


.trending-list {
    -fx-border-width: 0.0px 0.0px 0.0px 1.0px;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent transparent #ddd;
}

.category-text {
	-fx-fill:rgba(68.0,167.0,3.0);
}

.category-scroll {
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent #ddd transparent;
}

.hashtag-text {
	-fx-fill:rgba(14.0,97.0,185.0);
}

.hashtag-scroll {
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent #ddd transparent;
}

.hashtag-text:hover, .category-text:hover {
	-fx-cursor:hand;
	-fx-underline:true;
}

.task-time {
	-fx-fill:#999;
}

.taskView-header-today {
	-fx-border-width: 0.0px 0.0px 3.0px 0.0px;
	-fx-border-style: solid;
	-fx-border-color: transparent transparent #CC6C6B transparent;
	-fx-border-insets:3.0px;
}


.taskView-header {
	-fx-border-width: 0.0px 0.0px 3.0px 0.0px;
	-fx-border-style: solid;
	-fx-border-color: transparent transparent #ddd transparent;
	-fx-border-insets:3.0px;
}

.task-pane {
	-fx-border-width: 1.0px 0.0px 1.0px 0.0px;
	-fx-border-style: dashed;
	-fx-border-color: transparent transparent #ccc transparent;
}

.task-pane:hover {
	-fx-background-color: rgb(229.0,234.0,238.0);
	-fx-background-radius:5.0px;
	-fx-border-width:0.0px;
	-fx-background-insets:-2.0px -3.0px -2.0px -3.0px;
}

.address {
    -fx-background-color:white;
}

.address .scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.address .scroll-bar .increment-button {
    -fx-opacity: 0.0;
}

.address .scroll-bar .decrement-button {
    -fx-opacity: 0.0;
}

.address .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.address .scroll-bar:vertical .track-background {
    -fx-opacity: 0.0;
}

.address .scroll-bar:vertical .track {
    -fx-opacity: 0.0;
}
.address .scroll-bar:vertical .thumb {
    -fx-background-color: #999;
    -fx-opacity: 1.0;
}

.address .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}